/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.2;
  font-family: "Roboto", sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: transparent;
}

/* custom css */
*,
*::before,
*::after {
  box-sizing: border-box;
}
.wrapper {
  border-top: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  margin: 2rem auto;
  padding: 0 1rem;
}
.cctv {
  color: #c0bebe;
  margin-left: 1rem;
  font-size: 1.6rem;
}

/* header css */
.header {
  display: grid;
  padding: 0.5rem;
  grid-template-columns: 15fr 1fr;
  text-align: center;
  align-items: center;
  border-bottom: 1px solid #cccccc;
}
.header h1 {
  color: #808080;
  font-weight: 700;
  font-size: 2rem;
  font-family: "Noto Sans KR", sans-serif;
}
.profile-pic {
  width: 4rem;
}
.profile-pic img {
  font-size: 0;
  width: 100%;
}
/* homepage */

.search-wrapper {
  padding: 15rem 4rem 0;
}
.search-p {
  color: #333232;
  font-weight: 500;
}
.showing-all-p {
  color: #808080;
}
/* latest snapshot */
.hero-section-right p {
  color: #868781;
}
.latest-snapshot img {
  width: 100%;
}
.hero-section-left,
.hero-section-right {
  width: 50%;
}

/* table snapshots*/
.thumbnail-wrap {
  width: 5rem;
}

/* modal style */

.filterTags-wrap {
  border: 1px solid #cccccc;
  padding: 0 0.4rem;
}
.select-wrap {
  border: none;
  background-color: transparent;
  color: #929292;
}

.search-wrapper input:focus {
  outline-color: #007bff;
}
.search-wrapper input::placeholder {
  color: #afaeae;
  font-weight: 900;
  font-style: italic;
}

.tagList {
  width: 14rem;
  height: 3.3rem;
  padding-top: 1.2rem;
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  cursor: pointer;
  margin: 0;
}

/* color and font size */
.hero-color {
  color: #808080;
  font-weight: 600;
}
.table-heading {
  font-weight: 400;
  color: #929292;
}
.deviceId {
  color: #818e97;
}
.color-grey {
  color: #808080;
  font-style: italic;
  font-weight: 900;
}
.color-lg {
  color: #929292;
}

@media screen and (max-width: 769px) {
  .hero-section {
    display: block !important;
  }
  .search-wrapper {
    padding: 1rem;
    margin-top: 0.4rem;
  }
  .filterTags-wrap {
    margin-top: 1rem;
    width: 9.5rem;
  }
  .hero-section-left,
  .hero-section-right {
    width: 98%;
  }
  .hero-section-right p {
    padding: 1rem;
  }
  .block {
    display: block !important;
  }
}
